#logo {
  float: inline-end;
  image-rendering: 60px;
  image-resolution: 1080px;
}
div {
  display: block;
  background-color: lightblue;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} 
nav {
  float: right;
}

a {
  font-size: 35px;
  font-style: oblique;
  font-family: "Lucida Sans";
  text-shadow: 2px 2px #99a4a9;
  text-align: justify;
  text-decoration: dashed; 
  margin-right: 30px;
 }

img {
  display: inline;
}

nav a:hover {
  color: aliceblue;
  font-size: 35px;
}
