<header>
  <span>
    <a routerLink="/welcome">
      <img
        class="logo"
        src="../../assets/logo.png"
        alt="foodideas.png"
        height="90"
        width="160"
      />
    </a>
    <nav id="nav">
      <h1>
        <a routerLink="/welcome">Welcome</a>
      </h1>
      <a routerLink="/recipes">Recipes</a>
      <div id="user" *ngIf="isLogged">
        <a routerLink="/account">My Recipes</a>
        <a routerLink="/create">Create Recipe</a>
        <a routerLink="/welcome"(click)="signOutHandler()">Sign out</a>
      </div>
      <div id="guest"*ngIf="!isLogged">
        <a routerLink="/sign-in">Sign in</a>
        <a routerLink="/sign-up">Sign up</a>
      </div>
    </nav>
  </span>
</header>
