<header>
  <span>
    <a routerLink="/welcome">
      <img
        class="logo"
        src="../../assets/logo.png"
        alt="foodideas.png"
        height="90"
        width="160"
      />
    </a>
    <nav id="nav">
      <h1>
        <a routerLink="/welcome">Welcome</a>
      </h1>

      <a routerLink="/recipes">Recipes</a>
      <div id="user">
        <a routerLink="/recipes">My Recipes</a>
        <a routerLink="/create">Create Recipe</a>
        <a routerLink="/sing-out">Sing out</a>
      </div>
      <div id="guest">
        <a routerLink="/sing-in">Sing in</a>
        <a routerLink="/sing-up">Sing up</a>
      </div>
    </nav>
  </span>
</header>
