<section id="details" *ngIf="recipe">
  <form #form="ngForm" (ngSubmit)="commentHandler(form)">
    <div id="details-wrapper" *ngIf="!isDeleteClicked">
      <img id="details-img" src="{{ recipe.imageUrl }}" alt="image" />
      <p id="details-title">{{ recipe.name }}</p>
      <p class="details-description">Category: {{ recipe.category }}</p>
      <p id="details-date">
        You need <span id="date">{{ recipe.time }} min.</span>
      </p>

      <div id="info-wrapper">
        <div class="details-description">
          <span>
            Ingredients: <br />
            {{ recipe.products }}
          </span>
        </div>
      </div>

      <div class="details-description">
        <span>
          Preparation: <br />
          {{ recipe.preparation }}
        </span>
      </div>
       <div *ngIf="!isDeleteClicked">
    <p *ngIf="!isSignIn">If you want to see comments? <a id="sign" routerLink="/sign-in">Sing in!</a></p>
  
  </div>

      <div class="action-buttons" *ngIf="isOwner">
        <button>
          <a [routerLink]="['../edit', recipe.recipeId]" id="edit-btn">Edit</a>
        </button>
        <button (click)="delete()"><a id="delete-btn">Delete</a></button>
      </div>

      <div class="details-description" *ngIf="isSignIn">
        <textarea
          class="details-description"
          name="comment"
          placeholder="Type your comment here ...."
          rows="10"
          cols="50"
          ngModel
          #textAreaCommentInput="ngModel"
          required
        ></textarea>
      </div>
      <div class="comment-button" *ngIf="isSignIn">
        <button type="submit">Comment</button>
        <button
          class="comment-button"
          type="button"
          (click)="viewAllComments()"
        >
          All comments
        </button>
      </div>
      <div class="comments-view" *ngIf="isSignIn">
    
        <p class="comments-view">
          Comments about "{{ recipe.name }}" recipe you can see here:
        </p>
        <p class="comments-view" *ngIf="isEmptyComment">
          There are no comments yet!
        </p>
        <div class="comments-view" *ngFor="let comment of comments">
          <span>
            <p>{{ comment }}</p>
          </span>
        </div>
      </div>
    </div>
  </form>
  <div id="popup" *ngIf="isDeleteClicked">
    <div *ngIf="!isDeleted">
      <p>
        Are you sure that you want to DELETE your recipe: "{{ recipe.name }}"?
      </p>
      <img src="../../../assets/popup.jpg" alt="image" />
      <button (click)="yes()"><a>Yes</a></button>
      <button (click)="no()"><a>No</a></button>
    </div>
    <p *ngIf="isDeleted">You successful deleted: {{ recipe.name }}!</p>
  </div>
 
</section>
