<form class="example-form">
  <div>
    <h5 class="text-uppercase">You don't know what to cook?</h5>
    <p>
      Here you can find recipe with different product! You can open your fridge
      and see what is there, type in search field and you will find your next
      famous cooking challenge!
    </p>
  </div>
  <div id="example-input">
    <input
      type="text"
      placeholder="Insert your favorite product and take your idea ...."
      [formControl]="control"
      [matAutocomplete]="auto"
    />
  </div>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let recipe of filteredRecipes | async" [value]="recipe">
      <li>
        <a (click)="details(recipe.recipeId)">
          {{ recipe.name }}
        </a>
      </li>
    </mat-option>
  </mat-autocomplete>
</form>
