form {

}

div {
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 80vw;
    margin: 0 auto 0;
    font-weight: bold;
}

input {
    border: solid 1px #a09138;
    padding: 1rem;
    font-size: 20px;
    width: 100%;
}
input:focus, input:active {
    border-color: #84772c;
}
