<section>
  <div class="form">
    <h2>Add Your Cooking Idea</h2>
    <form class="create" #form="ngForm" (ngSubmit)="createRecipeSubmitHandler(form)">
     
      
      <input
        type="text"
        name="name"
        ngModel
        #inputName="ngModel"
        placeholder="Recipe's name ...."
        required
      />
      <input
        type="text"
        name="imageUrl"
        ngModel
        #inputImage="ngModel"
        placeholder="Nice picture here ...."
        required
      />
      <input
        type="text"
        name="category"
        ngModel
        #inputCategory="ngModel"
        placeholder="Breakfast, Lunch or Dinner"
      />

      <textarea
        name="products"
        placeholder="Needed products ...."
        rows="10"
        cols="50"
        ngModel
        #textAreaProductsInput="ngModel"
        required
      ></textarea>
      <textarea
        name="preparation"
        placeholder="Cooking steps ...."
        rows="10"
        cols="50"
        ngModel
        #textAreaPreparationInput="ngModel"
        required
      ></textarea>

      <input
        type="text"
        name="time"
        placeholder="Needed time in minutes ...."
      />

      <button type="submit">Done</button>
    </form>
  </div>
</section>
