footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 3rem 3rem 1rem 3rem;
    margin-top: 1rem;
    border-top: solid 1px #a09138;
}
p {
 font-weight: bold;
 padding: 1rem 0 0 0;
}

