footer {
    background-color: rgb(103, 154, 142);
    padding: 0.5px;
}
p {
    text-align: center;
    text-decoration:solid;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    text-shadow:rgb(237, 237, 209) 0.5px 0.5px ;
    display: flexbox;
    color: rgb(3, 43, 69);
    margin: 0;
}

