<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase">! F ! O ! O ! D !</h3>
        <h3 class="text-uppercase">I ! D ! E ! A ! S !!!!!</h3>
      </div>
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">You don't know what to cook?</h5>

        <p>
          Here you can find recipe with different product! You can open your
          fridge and see what is there, type in search field and you will find
          your next famous cooking challenge!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">You are a good hobby chef?</h5>

        <p>
          Here you can publish your recipe! You can take feedback from other
          users! Let the world to know for your talent!
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">You can find us and here:</h5>

        <p>foodideas.facebook.com <br>
            @food.ideas.instagram.com <br>
            foodid@abv.bg</p>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <!-- © 2020 Copyright: -->
      <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
  </div>
  <!-- Copyright -->
</footer>
