<section>
    <div class="form">
      <h2>Sing up</h2>
      <form >
        <input
        type="username"
        name="username"
        placeholder="Username ...."
      />
        <input
          type="text"
          name="email"
          placeholder="Email address ...."
        />
        <input
          type="password"
          name="password"
          placeholder="Enter password ...."
        />
        <input
          type="password"
          name="repeat-password"
          placeholder="Repeat your password ...."
        />
        <button type="submit">Sing up</button>
        <p class="message">Already signed up? <a routerLink="/sing-in">Sing in</a></p>
      </form>
    </div>
  </section>
