#account {
  width: 80vw;
  margin: 0 auto 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

section>div {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  gap: 10px;
}

.recipe-card {
  flex: 0 1 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 450px;
  order: solid 1px #a09138;
  background-color: #eddcce94;
  border: solid 1px #a09138;
  border-radius: 20px 0;
  padding: .5rem;
}

.recipe-card img {
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid black;
}

button {
  text-decoration: none;
  font-size: 21px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: white;
  background: #39afb3;
  text-shadow: 1px 1px black;
  padding: 0.5rem;
  border-radius: 10px 0;
}

.details-btn {
  text-decoration: none;
  font-size: 21px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: white;

  text-shadow: 1px 1px black;
}

.delete-btn {
  text-decoration: none;
  font-size: 21px;
  width: 160px;
  border-radius: 3px;
  text-align: center;
  color: white;
  background: #39afb3;
  text-shadow: 1px 1px black;
}

.recipe-card p {
  margin: auto;
  font-size: 1.2rem;
  font-weight: 700;
  width: 70%;
  text-align: center;
  color: #a09138
}

.recipe-card p.date {
  color: #2f3e14;
}