<section id="edit" *ngIf="recipe">
  <div class="form">
    <h2>Edit Your Recipe Idea</h2>
    <form
      class="edit-form"
      #form="ngForm"
     
      (ngSubmit)="editRecipeSubmitHandler(form)"
    >
      <input
        type="text"
        name="name"
        ngModel
        id="edit-name"
        [(ngModel)]="recipe.name"
      />
      <input
        type="text"
        name="imageUrl"
       ngModel
        id="edit-image"
        [(ngModel)]="recipe.imageUrl"  
      />
      <input
        type="text"
        name="category"
        ngModel
        id="edit-category"
        aria-valuemax=""
        [(ngModel)]="recipe.category"
      />
      <textarea
        id="edit-products"
        name="products"
        ngModel
        rows="5"
        cols="50"
        [(ngModel)]="recipe.products"  
      ></textarea>
      <textarea
        id="edit-preparation"
        name="preparation"
        ngModel
        rows="5"
        cols="50"
        [(ngModel)]="recipe.preparation"
      ></textarea>
      <input
        type="text"
        name="time"
        ngModel
        id="time"
        [(ngModel)]="recipe.time"
      />
      <button type="submit">Edit</button>
    </form>
  </div>
</section>