<section id="login">
  <div class="form">
    <h2>Sing in</h2>
    <form #form="ngForm" (ngSubmit)="singInHandler(form)" class="login-form">
      <input
        type="email"
        name="email"
        placeholder="Your email ...."
        required
        ngModel
        #inputEmail="ngModel"
      />
      <input
        type="password"
        name="password"
        required
        ngModel
        #inputPassword="ngModel"
        placeholder="Your password ...."
      />
      <button type="submit">Sing in</button>
      <p class="message">
        You don't have account? <a routerLink="/sing-up">Create it here!</a>
      </p>
    </form>
  </div>
</section>
