h1 {
  font-size: 50px;
}
p {
  text-align: center;
  font-size: 19px;
}
a {
  border: solid 3px #a09138;
    padding: 1rem 2rem;
    font-size: 30px;
    color: #2f3e14;
    text-decoration: none;
    margin-top: 1rem;
}
a:hover {
  border: solid 3px #baa427;
  background-color: #eddcce94;
  color: #baa427;
}