.imageHome {
  background-image: url("../../assets/fresh-vegetables-fruits-and-nuts-royalty-free-image-943001868-1550249117.jpg");
  background-color: fit-content;
}
a {
  color: azure;
  font-size: 90px;
  font-family: sans-serif;
  font-style: italic;
}
a:hover {
    color: rgb(83, 125, 188);
}
p {
  color: azure;
}