main {
    display: block;
    height: 100%;
}
.imageHome {
  background-image: url('../../assets/healthy-grocery-list-13-pantry-essentials_ft-1024x683.jpg.jpg');
  height:100%;
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* width:100%;  */
}
a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    text-size-adjust: 50%;
    font-size: 60px;
    font-style: italic;
    color:azure;
}
