<main>
  <div>
    <a routerLink="/recipes" id="hello">Hello! Lets's cook!</a>
  </div>
  <div>
    <h5 class="text-uppercase">You don't know what to cook?</h5>
    <p>
      Here you can find recipe with different product! You can open your fridge
      and see what is there, type in search field and you will find your next
      famous cooking challenge!
    </p>
  </div>
  <app-search />
  <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
    <h5 class="text-uppercase">You are a good hobby chef?</h5>
    <p>
      Here you can publish your recipe! You can take feedback from other
      users! Let the world to know for your talent!
    </p>
  </div>
</main>
